# https://github.com/Microsoft/vscode/issues/40742
# git rm --cached .vscode/settings.json

# Ignore content of VSCODE settings folder 
.vscode/*
/.vscode/

# Ignore content of all python compile files 
*.pyc
